:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
    border: 1px white solid;
    border-radius: 25px;
    margin: 50px;
    box-shadow: 5px 5px 100px 0px gray;
}

.row{
    margin: 20px;
}

input, button{
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

button{
    padding: 10px;
}